.img {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  // margin-bottom: 20px;
}
.mar {
  margin-left: 25px;
  margin-right: 25px;
  font-family: 'Kanit', sans-serif;

}
h1{
  color:rgb(255, 194, 41);
  font-family: 'Kanit', sans-serif;
}
h2{
  color: aliceblue;
  font-family: 'Kanit', sans-serif;
}

